.TagPageCards {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-right: 5%;
}

.TagPageYear {
    text-align: left;
    border-left: 5px solid rgb(63, 63, 255);
    border-bottom: 3px solid rgb(63, 63, 255);
    margin-top: 20px;
}

.TagPageYear h1 {
    margin: 0%;
    padding: 5px;
    padding-left: 20px;
    font-size: 32px;
    /* background-color: antiquewhite; */
}

.TagPageItem {
    margin: 0%;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    border-left: 3px solid rgb(127, 127, 255);
    border-bottom: 3px solid rgb(127, 127, 255);
}

.TagPageItemDate {
    font-size: 24px;
    display: inline-block;
    width: 100px;
}

.TagPageItemTitle {
    display: inline-block;
    font-size: 28px;
}